*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}
.container{
    width: 100%;
    box-sizing:border-box;
}
/* Hero Section Start*/
.hero-section{
    width: 100%;
    background: url(/images/bgwall.webp);
    background-size: cover;
    height: 800px;
}
.hero-section nav{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    opacity: 0.9;
}
nav img:hover{
    transform: scale(1.1);
    transition: all 1s;
}
.hero-section nav ul{
    display: flex;
    list-style-type: none;
}

.hero-section nav ul li{
    margin-left: 10px;
    margin-top: 9px;
    padding: 25px;
    color: white;
    text-decoration: none;
    font-weight:1000;
    font-size: larger;
}
nav ul li:hover{
    color: orange;
}
.hero-section nav ul a{
   text-decoration: none;
}
.info-section{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    flex-wrap: wrap;
}
.info-section img{
    border-radius: 50%;
    border: 10px solid white;
}

.info-section img:hover{
   transform: scale(1.2);
   transition: all 1s;
}
.detel{
    margin-left: 5%;
    margin-top: 7%;
    
}
.detel h1{
    font-size: 70px;
    color: whitesmoke;
    margin-bottom: 20px;
    border-bottom: 4px solid orange;
}
.detel h1 span{
    color: orange;
}
.detel p{
    color: #555;
    line-height: 25px;
}
.detel .download-resume{
    background-color: orange;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 80px;
    border: 2px solid orange;
    margin-bottom: 30px;
}
.detel .download-resume:hover{
    background-color: white;
    color: black;
    transition: all 1s;
}
/* Hero Section END */

.slogan{
    width: 100%;
    height: 200px;
    background-color: gray;
    overflow: hidden;
    
}
.slogan h1{
    padding-top: 3%;
    color: white;
    font-size: 400%;
    font-family:'Times New Roman', Times, serif;
}

/* About me Section start here */
#about-me{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 30px;
}
#about-me h1{
    width: 100%;
    font-size: 70px;
    margin-bottom: 30px;
}
#about-me img{
    border-radius: 50%;
    border: 10px solid orange;
}
#about-me h3{
    width: 100%;
    justify-self: center;
    margin-bottom: 30px;
}
#about-me p{
    text-align: center;
    width: 100%;
}
#about-me .download-resume{
    background-color: #04AA6D;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 30px;
    border: 2px solid #04AA6D;
    margin-bottom: 30px;
}
#about-me .download-resume:hover{
    background-color: white;
    color: black;
    transition: all 1s;

}
/* About me Section end here */

/* My Skills section start here */
.my-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 50px;
}
.my-skills h1{
    width: 100%;
    font-size: 70px;
    margin-bottom: 50px;
}
.my-skills .column{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.one-skill{
    display: flex;
    width: 100%;
    margin: 4%;
}
.one-skill h3{
    margin-top: 2%;
    margin-left: 3%;
}
.my-skills .column .one-skill .skill-icon{
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
}
/* My Skills section end here */

/*Contact me section start here */
#contact-me{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 50px;
}
#contact-me h1{
    width: 100%;
    font-size: 70px;
    margin-bottom: 50px;
}
#contact-me .box{
    width: 20%;
}
#contact-me form{
    width: 50%;
    margin-top: 50px;
}
#contact-me form h3{
    margin-bottom: 20px;
}
.input-field{
    width: 80%;
    height: 30px;
    border: 1px solid #777;
    padding: 3px;
    border-radius: 20px;
    outline:none;
    padding: 10px;

}
#contact-me form textarea{
    height: 150px;
    padding: 10px;
}

#contact-me .send-message{
    background-color: #04AA6D;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 80px;
    border: 2px solid #04AA6D;
    margin-bottom: 30px;
}
#contact-me .send-message:hover{
    background-color: white;
    color: black;
    transition: all 1s;
}

/*Contact me section ends here */

/*Footer starts here*/

.footer{
    padding: 2%;
    background-color: #555;
    color: white;
}